
.app-container {
  display: flex;
}


.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 15px;
}

.sidebar h3 {
  text-align: center;
}

.sidebar .model-list {
  list-style-type: none;
  padding: 0;
}

.sidebar .model-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.sidebar .model-list li:hover {
  background-color: #ddd;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
